<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.search_description }}">
</head>
<body>
    <h1>{{ page.title }}</h1>
    <h2>{{ page.small_description }}</h2>

    <div>
        {% for block in page.get_processed_content %}
            {% if block.block_type == 'paragraph' %}
                <p>{{ block.value }}</p>
            {% elif block.block_type == 'h4' %}
                <h4>{{ block.value }}</h4>
            {% elif block.block_type == 'h5' %}
                <h5>{{ block.value }}</h5>
            {% elif block.block_type == 'h6' %}
                <h6>{{ block.value }}</h6>
            {% elif block.block_type == 'ordered_list' %}
                <ol>
                    {% for item in block.list_items %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>
            {% elif block.block_type == 'unordered_list' %}
                <ul>
                    {% for item in block.list_items %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% elif block.block_type == 'blockquote_1' %}
                <blockquote>{{ block.value }}</blockquote>
            {% elif block.normalized_type == 'image' or block.block_type == 'image' %}
                <img src="{{ block.processed_image_url }}" alt="Processed image">
            {% elif block.block_type == 'url' %}
                <a href="{{ block.value }}">{{ block.value }}</a>
            {% elif block.block_type == 'button' %}
                <a href="{{ block.value.url }}">{{ block.value.text }}</a>
            {% elif block.block_type == 'spacer' %}
                <hr>
            {% elif block.block_type == 'html' %}
                {{ block.value|safe }}
            {% else %}
                <div>Unknown block: {{ block.block_type }}</div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
