<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.search_description }}">
    <link rel="shortcut icon" href="{{ ctx_branding.favicon_processed.url }}">
    <link rel="apple-touch-icon-precomposed" href="{{ ctx_branding.favicon_processed.url }}">
</head>
<body>
    <h1>{{ page.title }}</h1>

    <div>
        {% for block in page.text_content %}
            {% if block.block_type == 'paragraph' %}
                <p>{{ block.value }}</p>
            {% elif block.block_type == 'h4' %}
                <h4>{{ block.value }}</h4>
            {% endif %}
        {% endfor %}
    </div>

    <div>
        {% for item in page.faq_items.all %}
            <div class="faq-item">
                <h3>{{ item.question }}</h3>
                <p>{{ item.answer }}</p>
            </div>
        {% endfor %}
    </div>


</body>
</html>
